.SideDrawer {
  flex: 1;
  max-width: 250px;
  background-color: white;
  padding: 32px 16px;
  box-sizing: border-box;
}

@media (max-width: 500px) {
  .SideDrawer {
    display: none;
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}

.DrawerLogo {
  height: 50px;
  margin-bottom: 32px;
  pointer-events: none;
}